'atom-workspace':
  'cmd-alt-l': 'iex:open'
  'cmd-alt-l down': 'iex:open-split-down'
  'cmd-alt-l up': 'iex:open-split-up'
  'cmd-alt-l left': 'iex:open-split-left'
  'cmd-alt-l right': 'iex:open-split-right'
  'cmd-alt-e': 'iex:reset'
  'cmd-alt-a': 'iex:run-all-tests'
  'cmd-alt-p': 'iex:pretty-print'

'atom-text-editor':
  'cmd-alt-h': 'iex:help'
  'cmd-alt-g': 'iex:gotoDefinition'
  'cmd-alt-x': 'iex:run-tests'
  'cmd-alt-j': 'iex:run-test'
  'cmd-alt-b': 'iex:pipe'
